<div class="filter">
  <div class="clearfix">

      <div class="">
          <div class="table_view">
              <div class="example-header">
                  <mat-form-field class="mat_search"
                      >
                      <div class="row">
                          <div class="col-2">
                                  <label class="float-left" style="line-height: 210%; margin:0 10px 0 0">Search</label>
                              <input matInput (keyup)="applyFilter($event.target.value)"
                                  style="border: 1px solid #616161; height: 35px; border-radius: 5px; width: 70%; float: left;">
                          </div>

                          <div class="col-9 text-right">
                              <mat-paginator #paginator [pageSize]="4" [hidePageSize]="true"
                                  [hidden]="(dataSource && dataSource.filteredData && dataSource.filteredData.length==0)">
                              </mat-paginator>
                          </div>
                      </div>
                  </mat-form-field>
              </div>
              <div class="mat-elevation-z8">
                

                  <table #myTable mat-table  [dataSource]="dataSource" matSort style="border:1px"
                      class="w-100" >
                      <ng-container  matColumnDef="id">
                          <th class="text-center" mat-header-cell *matHeaderCellDef
                              mat-sort-header>Id</th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>
                      <ng-container  matColumnDef="name">
                        <th class="text-center" mat-header-cell *matHeaderCellDef
                            mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container  matColumnDef="action">
                        <th class="text-center" mat-header-cell *matHeaderCellDef
                            mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let element"> 
                          <a (click)="editEmp(element)">Edit</a>
                          <a (click)="deleteEmp(element)">Delete</a>
                        </td>
                    </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                  </table>
                  <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
              </div>
          </div>
      </div>


  </div>
</div>

